/* General Styles */
body {
    font-family: 'Georgia', serif;
    background-color: #ffffff; /* Set background color of the body to white */
    margin: 0;
    padding: 0;
    color: #343131;
}

header {
    background-color: #c1396d; /* Header background dark pink */
    color: white; /* Text color white */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #e75b88; /* Lighter shade of pink */
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white; /* Text color white */
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #e75b88; /* Darker shade of pink on hover/focus */
    border-radius: 5px;
}

nav ul li a.active {
    border-bottom: 3px solid #c1396d; /* Dark pink underline for active tab */
}

main {
    padding: 20px;
}

section {
    background-color: rgb(255, 255, 255); /* Section background white */
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(228, 218, 218, 0.1);
}

section h2 {
    margin-top: 0;
    color: #c1396d; /* Dark pink for section heading */
}

section p {
    color: #343131; /* Text color black */
}

/* Responsive Styles */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}